<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | Home</title>
</head>
<body>
	<div id="header">
	<!-- Header placeholder -->
	</div>
	<div id="content">
		<ol>
			<li><a href="news.html">News</a></li>
			<li><a href="products.html">Our Products</a></li>
			<li><a href="customers.html">Our Customers</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ol>
	</div>
	<div id="footer">
	<!-- Footer placeholder -->
	</div>
</body>
</html>

